@model Vidly.Models.Coupon
@{
    ViewData["Title"] = "Edit";
}

<h1>Delete</h1>

<form method="post" asp-action="Delete">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" readonly type="text" asp-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="DiscountPercentage"></label>
                <input class="form-control" readonly type="number" asp-for="DiscountPercentage" />
            </div>
            <div class="form-group">
                <label asp-for="MinimumPurchaseRequired"></label>
                <input class="form-control" readonly type="number" asp-for="MinimumPurchaseRequired" />
            </div>
            <div class="form-group">
                <label asp-for="IsActive"></label>
                <input class="form-control" readonly type="checkbox" asp-for="IsActive" />
            </div>
            <button class="btn btn-danger" type="submit" asp-action="Delete" asp-route-id="@Model.Id">Delete</button>
            <br />
            <a class="btn btn-secondary mt-2" asp-action="Index">Back</a>
        </div>
    </div>
</form>
