@model Vidly.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>Category</h4>
    <hr />
    <form asp-action="Delete" method="post">
        <div>
            <label asp-for="Name"></label>
            <input class="form-control" type="text" readonly asp-for="Name" style="width: 400px;" />
        </div>
        <button class="btn btn-danger mt-3 mb-2" type="submit" asp-route-id="@Model.Id">Delete</button>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
